body{
  font-family: 'Indie Flower', cursive;
}

.Bild{
  width: 70%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.Bild img{
  width: 100%;
  height: auto;
}


.Bild span {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 7vw;
  display: block;
  width: 100%;

}

