body{
  font-family: 'Indie Flower', cursive;
}

.Bild{
  width: 70%;
  height: auto;
  position: relative;
}

.Bild img{
  width: 100%;
  height: auto;
}


.Bild span {
  position: absolute;
  top: 500px;
  text-align: center;
  font-size: 30pt;
}
